@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  background-image: url("../assets/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

html,
body {
  margin: 0;
  padding: 0;
}
.text-container {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  color: white;
  opacity: 0.8;
  user-select: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: #ff5733;

  animation: float 6s ease-in-out infinite;
}

.circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  border-radius: 50%;
  background-color: inherit;
  opacity: 0.5;
  filter: blur(15px);
  transform: translate(-50%, -50%);
  z-index: -1;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
